{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="90DC59D8CEEE7ACE4A7A9B6B63C2312C" />
    <meta name="google-site-verification" content="nzOfAkYXi6FeAlILVda8LCfesFYp8By65BDCEdZgyn0" />
    <meta name="description" content="Set up your VIZIO Smart TV or Sound Bar at vizio.com/setup in minutes! Follow our simple step-by-step guide to connect to Wi-Fi, link your apps, and activate SmartCast features." />
    <meta name="keywords" content="vizio.com/setup, VIZIO TV setup, VIZIO activation code, SmartCast setup, activate VIZIO Smart TV, VIZIO TV WiFi setup" />
    <meta name="robots" content="index, follow" />
    <title>Set Up Your VIZIO TV at vizio.com/setup – Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
